{{!  }}
<form action="/login" method="POST">
	<h2>Log in</h2>
	<label for="email" placeholder="your email">Email:
		<input type="email" name="email" required />
	</label>
	<div class="error email"></div>
	<label for="password">Password:
		<input type="password" name="password" required />
	</label>
	<div class="error password"></div>
	<button type="submit">Log up</button>

</form>