{{!  }}
<form id="login">
	<h2>Log in</h2>

		<label for="email" placeholder="your email">Email:
			<input type="email" name="email" />
		</label>  
	<div class="error email"></div>

		<label for="password">Password:
			<input type="password" name="password" required />
		</label>
	<div class="error password"></div>

	<input type="hidden" name="returnTo" value="{{returnTo}}" >

	<button type="submit">Log in</button>
</form>