<ul class="recipes">
	{{#each smoothies}}
	<li class="recipe">
		<img src="/images/smoothie.png" alt="smoothie recipe icon" />
		<h4>{{this.title}}</h4>
		<p>{{this.description}}</p>
		<p>{{this.ingredients}}</p>
	</li>
	{{/each}}
</ul>